@tailwind base;
@tailwind components;
@tailwind utilities;

/* Calendar 커스터마이즈 스타일 */
.react-calendar {
  width: 100%;
  background: white;
  border: none;
  padding: 1rem;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8f8;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 0.75em 0.5em;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #f8f8f8;
}

.react-calendar__tile--now {
  background: #ffffff;
  color: black;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #f8f8f8;
}